@using HCMS.Web.ViewModels.User﻿;
@model UserLoginFormModel;
@{
    string username = TempData.ContainsKey("LoginUsername") ? TempData["LoginUsername"].ToString() : "";
}

<body>
<div id="formWrapper" class="w-50 mx-auto my-auto pt-lg-5 ">

    <form
        method="post"
        asp-controller="User"
        asp-action="Login">

        <div class="row px-5 align-items-center my-auto">
            <p class="text-center h1 fw-bold mb-2 mt-2">Sign in</p>
            
            @* Error Messages for failed login *@
                                
            @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <h3 class="mt-5 text-center">
                    <strong class="bg-danger rounded text-white">@modelError.ErrorMessage</strong>
                </h3>
            }

            <!-- Username input -->
            <div class="form-outline mt-4 mb-4 d-flex flex-column align-items-center">
                    <label class="form-label" for="username">Username</label>
                <input type="text" 
                       id="username" 
                       asp-for="Username"
                       class="w-75 form-control" 
                       value="@username">
                <span asp-validation-for="Username" class="bg-danger text-white"></span>
            </div>

            <!-- Password input -->
            <div class="form-outline mt-4 mb-4 d-flex flex-column align-items-center">
                <label class="form-label" for="password">Password</label>
                <input type="password" 
                       id="password" 
                       asp-for="Password"
                       class="w-75 form-control" />
                <span asp-validation-for="Password" class="bg-danger text-white"></span>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="mb-4">
                    <div class="col d-flex mx-auto justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check justify-content-center align-content-center">
                            <input class="form-check-input" type="checkbox" id="checkbox" asp-for="RememberMe"/>
                            <label class="form-check-label" for="checkbox"> Remember me </label>
                        <!-- Simple link -->
                       @*  <a href="#!">Forgot password?</a> *@
                    </div>
                </div>

                <div class="col">
                   
                </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4 w-25 mx-auto">Sign in</button>

            <!-- Register buttons -->
            <div class="text-center">
                <p>Not a member? <a asp-controller="User" asp-action="Register">Register</a></p>
            </div>
        </div>
    </form>
</div>

</body>

@section Styles {
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true"/>
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
