@using HCMS.Web.ViewModels.User;
@model UserViewModel;

<div class="container">
    <div class="row justify-content-center">
        <div class="d-flex justify-content-center mx-auto">
            <partial name="_UserCardPartial" model="@Model" />
        </div>
    </div>
</div>



@section Scripts
    {
    <link href="https://fonts.googleapis.com/css?family=Kanit:400,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
}