@using HCMS.Web.ViewModels.Education;
@model EducationPageModel;

@{
    ViewBag.Title = "Educations";
    string? username = ViewData["username"]!.ToString();

    if (username != null)
    {
        ViewBag.Title += " - " + username;
    }
}

<div class="container all-container">
    <h2 class="text-center text-black mt-2">@ViewBag.Title</h2>  
    <hr />

    @* Education Cards *@
    @if (!Model.Educations.Any())
    {
        <h2 class="text-center text-black">No education information found!</h2>
    }

    <div class="container">
        <div class="row justify-content-center">
            @foreach (var education in Model.Educations)
            {
                <partial name="_EducationCardPartial" model="@education" />
            }
        </div>
    </div>
    <form method="get">
    <div class="row justify-content-center">
        @* previous page *@
        <div class="col-1 mt-4  d-flex justify-content-end form-group">
            <div class="form-group">
                <btn type="submit" class="btn btn btn-dark" id="previousPageButton"><<</btn>
            </div>
        </div>

        <input type="hidden" asp-for="@Model.Page" value="@Model.Page" id="Page" />
        <input type="submit" id="formId" class="d-none" />
         
        @* next page button *@
        <div class="col-1 mt-4 form-group">
            <div class="form-group">
                <btn type="submit" class="btn btn btn-dark" id="nextPageButton">>></btn>
            </div>
        </div>
    </div>
    </form>

    <hr />
</div>


@section Scripts
    {
    <script src="~/js/Education.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/Education.css" asp-append-version="true" />
}
