.card-background {
    background-color: #134475;
    border-radius: 20px;
}
.technical-font {
    font-family: 'Kanit', sans-serif;
}

#companySelect + .select2 .select2-selection {
    height: 35px;
    margin-bottom: 15px;
}