.form-card {
    background-color: #134475;
    border-radius: 20px;
    padding: 20px;
}

.technical-font {
    font-family: 'Kanit', sans-serif;
}

#degreeSelect + .select2 .select2-selection {
    height: 40px;
}

.all-container {
    color: white;
    background-image: url('/Image/WoodBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.card-partial {
    display: inline-block;
    color: black;
    background-image: url('/Image/DiplomaBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
