body {
    background-image: url('/Image/Background.jpg');
}
#formWrapper {
    color: white;
    background-color: rgba(13, 43, 61, 0.9);
    border-radius: 20px;
}

.btn-primary {
    background-color: #489dc2;
}

    .btn-primary:hover {
        background-color: #7eafc4;
    }

    .btn-primary:active {
        background-color: #204454;
    }