html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('/Image/Background.jpg');
}

header, footer {
    background: linear-gradient(to right, #2a4969, #02234f);
}

.nav-item a:hover {
    font-weight: bold;
}



/*Custom Classes*/

.height-50 {
    height: 50vh;
}

.height-75 {
    height: 75vh;
}

.height-25 {
    height: 25vh;
}

.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.custom-dropdown-button {
    color: white;
    background-color: #02234f;
    border: none;
}

.custom-dropdown-button :Hover {
    background-color: #ffffff;
    color: #02234f;
    font: bold;
    border: none;
}

.custom-dropdown-menu {
    color: white;
    background-color: #012557;
}

.dropdown-item {
    color: white;
    background-color: #012557;
    transition: background-color 0.3s;
}

    .dropdown-item:hover {
        background-color: #ffffff;
        color: #012557;
        font: bold;
    }