html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header, footer {
    background: linear-gradient(to right, #014359, #02234f);
}

.nav-item a:hover {
    font-weight: bold;
}
