.form-body {
    background-color: #134475;
    border-radius: 20px;
    padding: 20px;
}
.technical-font {
    font-family: 'Kanit', sans-serif;
}

.right-search-button {
    margin-left: 35px;
    position: relative;
}

/* Adjust the size of the Select2 dropdown */
#companySelect + .select2 .select2-selection {
    height: 38px; /* Adjust the height to your preference */
}