@model HCMS.Web.ViewModels.WorkRecord.WorkRecordFormModel
<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 form-body">
           
            <form method="post">
                <h1 class="text-white text-center technical-font">Employee Information</h1>
                <div class="form-group">
                    <label class="text-white technical-font" asp-for="Position"></label>
                    <input asp-for="Position" class="form-control" placeholder="Position...">
                    <span asp-validation-for="Position" class="small text-white bg-danger"></span>
                </div>
                <div class="form-group">
                    <label class="text-white technical-font" asp-for="Department"></label>
                    <input asp-for="Department" class="form-control"
                           placeholder="Department...">
                    <span asp-validation-for="Department" class="small text-white bg-danger"></span>
                </div>
                <div class="form-group">
                    <label class="text-white technical-font" asp-for="CompanyName"></label>
                    <input asp-for="CompanyName" class="form-control"
                           placeholder="Company name...">
                    <span asp-validation-for="CompanyName" class="small text-white bg-danger"></span>
                </div>
                <div class="form-group">
                    <label class="text-white technical-font" asp-for="Salary"></label>
                    <input asp-for="Salary" class="form-control" placeholder="Salary...">
                    <span asp-validation-for="Salary" class="small text-white bg-danger"></span>
                </div>
                <div class="form-group">
                    <label class="text-white technical-font" asp-for="StartDate">Start Date</label>
                    <input asp-for="StartDate" class="form-control" type="date" placeholder="Start Date...">
                    <span asp-validation-for="StartDate" class="small text-white bg-danger"></span>
                </div>
                <div class="form-group">
                    <label class="text-white technical-font" asp-for="EndDate"></label>
                    <input asp-for="EndDate" class="form-control" type="date" placeholder="End Date...">
                    <span asp-validation-for="EndDate" class="small text-white bg-danger"></span>
                </div>
                <div class="text-center">
                    <input class="btn btn-primary mt-3 technical-font" type="submit" value="Submit Work Record" />
                </div>
            </form>

        </div>
    </div>
</div>
