<div class="col-32 my-2 mx-1">
    <div">
        <div>
            <h3>@Model!.Name jlkjlkj</h3>
            <p>Industry: <b>@Model.IndustryField</b>lkjlkjk</p>
            <p>Industry: <b>@Model.Description</b>jlkjlkjlkj</p>
        </div>
    </div>
</div>