@using HCMS.Web.ViewModels.Company;
@model CompanyViewModel;
@using static HCMS.Common.RoleConstants;
@using HCMS.Web.WebServices.Interfaces
@inject ICompanyWebService companyWebService;

@{
    IEnumerable<string> companyNames = await companyWebService.GetAllCompanyNamesFromApiAsync();
    string location = "";
    if (Model?.Country != null)
    {
        location += Model.Country;
    }
    if (Model?.State != null)
    {
        location += ", " + Model.State;
    }
    if (Model?.Address != null)
    {
        location += ", " + Model.Address;
    }
}

@if (Model!.Name != null)
{
        <div class="card-partial">
            <div>
                <h4 class="card-title">@Model.Name</h4>
                <h6 class="card-subtitle">@Model.IndustryField</h6>
            <p class="card-text p-y-1 my-2">@Model.Description</p>
                @if (location != "")
                {
                    <p>Address: @location</p>
                }
            </div>
        </div>
        <hr class="text-white"/>
}

