
<div class="container">
    <div class="row">
        <div class="col-8 height-50 carousel-background">
            <div id="carouselExampleCaptions" class="carousel slide carousel-fade mx-auto" data-bs-ride="carousel">
                <div class="container">
                    <div>
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://pbs.twimg.com/media/EyjQfGYU8AEs0xE.jpg:large" class="mt-2 img-fluid background-image" alt="images">
                                <div class="carousel-caption d-none d-md-block">
                                    <p>Be What's Next</p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <img src="https://visualstudio.microsoft.com/wp-content/uploads/2023/01/VisualStudioLogo.webp" class="mt-2 img-fluid background-image" alt="Image">
                                <div class="carousel-caption d-none d-md-block">
                                    <p>Advanced micro devices - processors and graphics technologies</p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <img src="https://www.intel.com/content/dam/www/public/us/en/newsroom/posts/intel-arc-logo-16x9.png" class="mt-2 img-fluid background-image" alt="images">
                                <div class="carousel-caption d-none d-md-block">
                                    <p>The new high-performance graphics brand</p>
                                </div>
                            </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-12 workrecords-background text-white height-25 d-flex flex-column align-items-center">
                    <!-- Content for the top right div -->
                    <div>
                        <h1 class="text-center text-bold tech-font">Edit Work Records</h1>
                        <p class="text-center mt-2">Receive valuable information about the professional journey of our dedicated employees. Our platform provides a comprehensive overview of their work records</p>
                    </div>
                    <a class="btn btn-outline-primary text-white border-white mt-auto mb-4">Go to work records</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 recommendations-background text-white height-25 d-flex flex-column align-items-center">
                    <!-- Content for the bottom right div -->
                    <div>
                        <h1 class="text-center text-bold tech-font">Edit Educations</h1>
                        <p class="text-center mt-2">Recommendations from companies which recognized the value of their workers, their skills and achievements.</p>
                    </div>
                    <a class="btn btn-outline-primary text-white border-white mt-auto mb-4">Recommendations</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row height-25">
        <div class="col-4 employees-background text-white d-flex flex-column align-items-center">
            <div>
                <h1 class="text-center text-bold tech-font">Find a job</h1>
                <p class="text-center mt-2">Discover a diverse and skilled workforce that's ready to make a difference. Explore their profiles, learn about their experiences, education and more</p>
            </div>
            <a class="btn btn-outline-primary text-white border-white mt-auto mb-4">Go to employees</a>
        </div>

        <div class="col-4 companies-background text-white d-flex flex-column align-items-center">
            <div>
                <h1 class="text-center text-bold tech-font">Edit personal information</h1>
                <p class=" text-center mt-2">Explore a wide array of companies, each with a unique story and vision. Our platform showcases businesses from diverse sectors</p>
            </div>
            <a class="btn btn-outline-primary text-white border-white mt-auto mb-4">Go to companies</a>
        </div>

        <div class="col-4 applications-background text-white d-flex flex-column align-items-center">
            <div>
                <h1 class="text-center text-bold tech-font">Edit Work Records</h1>
                <p class=" text-center mt-2">Discover a variety of applications that address different needs and industries. Get more details about the employees provided in their applications</p>
            </div>
            <a class="btn btn-outline-primary text-white border-white mt-auto mb-4">Go to applications</a>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/homeAgent.css" asp-append-version="true" />
}

@* recommendations and endorsements provided by companies to our dedicated employees. Our platform showcases the trust and recognition that companies have for their team members. Explore a wide array of endorsements that highlight the skills, contributions, and expertise of employees. Gain insights into the strengths and achievements that companies value. Connect with employees who come highly recommended and bring a wealth of experience to your projects and endeavors. *@
@*  Our platform provides a comprehensive overview of their work records, highlighting their accomplishments, experiences, and contributions. *@
